/*1 rem = 10px*/
html{
    /*1 rem = 10px*/
    font-size: 62.5%;
}
/*Color palette and properties*/
:root{
    --white:#F8FAF9;
    --pineGreen:#055A53;
    --hunterGreen:#194E30;
    --emeraldGreen:#0C483E;
    --gold:#D5A859;
    --fuentePrincipal: 3.8 rem;
    
}

.contenedor{
    /*max-width:100%;*/
    
}
.poto{ 
    position: absolute;
    width: 100%;
    background-image: url(../img/_MG_4430.jpg);
    
    
}
@media (min-width:480px ) {
     
}
.title-welcome{
 /*   position: absolute;
    bottom: 20rem;
    right: 60rem;
    background-color:var(--emeraldGreen);
    color: var(--white);
}

body{
    font-size: 16px;
}